:root {
  --cor-primaria-normal: #1fab89; /*botão normal*/
  --cor-primaria-escura: #007b5c; /*botão hover*/
  --cor-primaria-clara: #60ddb9; /*botão active*/
  --cor-background: #fbfbfb;
  --cor-section: #fff;
}

/* ATUALIZAÇÕES GENERICAS */
*:focus:not(.banner-role a) {
  box-shadow: 0 0 0 0.25rem var(--cor-primaria-clara) !important;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: var(--cor-background);
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
a.btn,
.fs-1,
.fs-2 {
  font-family: "IBM Plex Sans KR", sans-serif;
  color: #383838;
}

/* MUDANDO CSS BOOTSTRAP */
.fs-1 {
  font-size: 3rem !important;
}
.fs-2 {
  font-size: 2.375rem !important;
}

span.fs-2 {
  font-size: 1.875rem !important;
}
.fs-3 {
  font-size: 1.5rem !important;
}
.fs-4 {
  font-size: 1.25rem !important;
}
.fs-5,
p {
  font-size: 1rem !important;
}

.mb-6 {
  margin-bottom: 4rem;
}

.bg-primary {
  background-color: var(--cor-primaria-escura) !important;
}

.bg-light {
  background-color: var(--cor-section);
}

a.btn {
  color: #fff;
  font-weight: 600;
}

a.btn + a.btn {
  margin-left: 0.5rem;
}

.btn-entrar {
  transition: background-color 0.5s ease-out;
}

.btn-primary {
  background-color: var(--cor-primaria-normal);
  border: none;
}

a.btn-primary:focus,
.btn-primary:focus,
.btn-entrar:focus {
  box-shadow: 0 0 0 0.25rem var(--cor-primaria-clara) !important;
  background: var(--cor-primaria-normal) !important;
}

.btn-secondary {
  background-color: transparent !important;
  color: #383838 !important;
  transition: all 0.35s ease-out;
  border: 3px solid var(--cor-primaria-normal);
  padding: 8px 32px !important;
}

.btn-secondary.active {
  background-color: var(--cor-primaria-normal) !important;
  color: #fff !important;
  transition: all 0.35s ease-out;
  border: 3px solid var(--cor-primaria-normal);
}

.btn-secondary:hover {
  background-color: var(--cor-primaria-escura) !important;
  color: #fff !important;
  transition: all 0.35s ease-out;
  border: 3px solid var(--cor-primaria-escura);
}

.btn-primary:hover {
  background-color: #007b5c;
  border: none;
  transition: background-color 0.25s ease-out;
}

.btn-primary:active {
  background-color: var(--cor-primaria-clara) !important;
  border: none;
}

.btn-secondary:active {
  border-color: var(--cor-primaria-clara);
  background-color: var(--cor-primaria-clara) !important;
}

.btn-criar:hover,
.btn-entrar:hover {
  background-color: #00b487;
  color: #fff;
}

a.btn,
#form-entrar {
  padding: 12px 32px;
}

a.btn-xl {
  padding: 16px 54.5px;
  font-size: 18px;
  border-radius: 0;
}

.navbar {
  align-items: unset;
}

/* CSS NATIVO */
.navbar .dropdown .btn,
.footer-drop .dropdown .btn {
  color: #fff;
  transition: color 0.25s ease-in;
}

.navbar .dropdown .btn:hover,
.footer-drop .dropdown .btn:hover {
  color: #9df3c4;
}

.dropdown-titulo {
  color: #212529;
  cursor: default;
}

.dropdown-titulo:hover,
.dropdown-titulo:active {
  color: #212529;
  background: #fff;
}

.dropdown-titulo:active {
  color: #212529 !important;
}

.dropdown-item.fs-3:not(.dropdown-titulo):hover {
  background: var(--cor-primaria-escura);
}

.dropdown-item:not(.dropdown-titulo):active {
  background-color: var(--cor-primaria-clara) !important;
}

#form-procurar {
  max-width: 100%;
}

.btn-icon-procurar {
  position: absolute;
  top: 0;
  right: -0.4%;
  transition: all 0.5s ease-out;
}

.icon-procurar {
  color: #fff;
  background-color: var(--cor-primaria-normal);
  cursor: pointer;
  transition: all 0.5s ease-out;
  padding: 0.45rem 1rem;
  border-radius: 0 8px 8px 0;
}

#fake-icon-procurar {
  display: none;
}

.elemento-visivel {
  opacity: 100;
}

@media screen and (min-width: 992px) {
  #form-procurar {
    width: 50%;
  }

  .btn-icon-procurar {
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.5s ease-out;
    z-index: 3;
  }

  .btn-icon-procurar.elemento-visivel {
    top: 0;
    right: 0;
  }

  .icon-procurar {
    padding: 0.375rem 1rem;
    opacity: 0;
  }

  #fake-icon-procurar {
    display: inline-block;
    color: var(--cor-primaria-clara);
    cursor: pointer;
    transition: all 0.25s ease-out;
    border-radius: 8px;
    padding: 0.375rem 1rem;
    background-color: var(--cor-primaria-normal);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
  }

  #fake-icon-procurar.elemento-visivel {
    opacity: 0;
  }

  .icon-procurar.elemento-visivel,
  #procurar-categoria:focus .icon-procurar {
    opacity: 100;
  }

  #procurar-categoria {
    padding-left: 0.5rem;
    width: 100%;
    background: #fff;
    border: 0;
    border-radius: 8px;
    transition: all 0.5s ease-out;
    opacity: 0;
  }

  #procurar-categoria.elemento-visivel {
    padding-left: 0.5rem;
    width: 100%;
    background: #fff;
    border: 0;
    border-radius: 8px;
    transition: all 0.5s ease-out;
    opacity: 100;
  }
}

.link-primary {
  color: var(--cor-primaria-normal) !important;
  text-decoration: none;
}

.link-secondary {
  color: #73797d !important;
  text-decoration: none;
}

.link-primary:hover,
.link-secondary:hover {
  text-decoration: underline;
}

.card-avaliacao#titulo-escolhido-avaliacao,
.avaliacao-usuario {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 600;
  font-size: 1.625rem;
  color: #62d2a2;
  width: 100%;
  text-align: center;
}

.comentario-usuario {
  border: 1px solid rgba(56, 56, 56, 0.1);
}

.card-estrelas,
.comentario-usuario-estrelas {
  background-color: #dee2e6;
  border-radius: 8px;
  text-align: center;
}

.card-estrelas img {
  max-width: 1.5rem !important;
  max-height: 1.5rem !important;
}

#comentar-textarea {
  background-color: #ececec !important;
  border: 1px solid #707070 !important;
  transition: background-color 0.25s ease-in;
}

#comentar-textarea:focus {
  background-color: #fff !important;
}

.comentar-estrelas {
  background-color: #dee2e6;
  border-radius: 8px;
  text-align: center;
}

.comentar-estrelas span img {
  max-height: 1.625rem;
}

.comentario-paragrafo {
  display: block;
  position: relative;
  width: 98%;
  word-wrap: break-word;
}

#btn-cancelar,
#btn-cancelar-alert {
  background: transparent;
  font-weight: 600;
  padding: 6px 16px;
  transition: all 0.3s ease-out;
}

#btn-cancelar:focus,
#btn-cancelar-alert:focus {
  box-shadow: 0 0 0 0.25rem #ff6b70 !important;
  background-color: #a3001e !important;
  color: #fff !important;
}

#btn-cancelar:hover,
#btn-cancelar-alert:hover {
  background-color: #dc3545 !important;
  color: #fff !important;
}

#btn-cancelar:active,
#btn-cancelar-alert:active {
  background-color: #ff6b70 !important;
}

.alert {
  transform: background-color 0.1s ease-out;
}

.comentar {
  height: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: translateY(4rem);
}

.comentar.show {
  transform: translateY(0);
  height: inherit;
  opacity: 100;
}

.comentar.show-cima {
  transform: translateY(-4rem);
  height: inherit;
  opacity: 0;
}

.comentarios-dos-usuarios h4 {
  font-weight: bold;
  font-family: "Noto Sans", sans-serif, arial;
}

.comentario-usuario-estrelas img {
  width: auto;
  height: 1.25rem !important;
}

.destaque-container {
  position: relative;
  width: 200px;
  height: 280px;
  margin: 0 auto;
  cursor: pointer;
}

.destaque-container img {
  width: 200px;
  height: 280px;
}

.fa-search-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2.375rem;
  color: transparent;
  position: absolute;
  z-index: 3;
  transform: translate(94.5%, 7rem);
  transition: all 0.3s ease-out;
}

.fa-search-plus:before {
  display: inline-block;
}

.fa-search-plus:after {
  content: "Ver mais";
  display: block;
  font-size: 1.25rem;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 600;
  margin-top: 0.5rem;
}

.destaque-container:hover .fa-search-plus {
  transform: translate(74.5%, 7rem);
  color: var(--cor-primaria-clara);
}

.destaque-container::after {
  content: " ";
  width: 200px;
  height: 280px;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  transition: all 0.35s ease-out;
}

.destaque-container:hover::after {
  content: " ";
  background: rgba(0, 0, 0, 0.25);
}

.destaque-card + .destaque-card {
  margin-bottom: 1rem;
}

.destaque-card .card-nome {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  background: transparent
    linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8) 80%) 0% 0%
    no-repeat padding-box;
}

.destaque-card .card-avaliacao {
  color: #62d2a2;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}

.card-estrelas {
  margin: 0 auto;
  max-width: 200px;
  background-color: #dee2e6;
  border-radius: 0 0 8px 8px;
}

.card-estrelas img {
  max-width: 1.25rem !important;
  max-height: 1.25rem !important;
}

.card-estrelas:not(.card-estrelas.comentario-usuario-estrelas
    img, .card-estrelas.comentario-usuario-estrelas) {
  margin: 0 auto;
  max-width: 200px;
  background-color: #dee2e6;
  border-radius: 0 0 8px 8px;
}

.card-estrelas img:not(.card-estrelas.comentario-usuario-estrelas img) {
  max-width: 1.25rem !important;
  max-height: 1.25rem !important;
}

.footer-drop .dropdown {
  border-left: 3px solid #fff;
}

.sociais .fab {
  font-size: 2rem;
  transition: all 0.25s ease-out;
}

.sociais .fab:hover {
  color: var(--cor-primaria-clara);
}

.sociais li + li {
  padding-left: 1em;
}
